@import "tailwindcss";

@theme {
  --color-navy: #000050;
  --color-lime: #adff3e;
  --color-shell: #fbfbfb;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}
